<div class="col-sm-8 col-md-4 text-right">  
    <div class="form-group">  
        <div class="input-group mb-3">
            <input type="search" class="form-control py-2 border-right-0 border" aria-describedby="basic-addon2" [(ngModel)]="ItemName" (keyup)="searchItems(ItemName)" />
        </div>     
    </div>  
    <div class="search-result" *ngIf="flag">  
        <ul class="list-group">  
            <li class="list-group-item list-group-item-action" *ngFor="let item of items | async">
                <a (click)="onSelectItem(item)">{{item.id}}: {{item.name}}</a>
            </li>             
        </ul>
    </div>
</div>  